$main-blue: #1DA1F2;

html {
  min-height: 100%;
  height: 100%;
}

body {
  background-color: #f5f5f5;
  min-height: 100%;
  height: 100%;
}

.main {
  display: flex;
}

.profile {

  width: 350px;
  max-width: 250px;
  min-width: 250px;
  margin: 0 20px 20px 0;

  &:nth-child(2n) {
    margin: 0 0 20px 0;
  }

  hr {
    margin: 0;
  }

  &__icon {
    margin: 0;
  }

  &__img {
    padding: 20px 20px 0 20px;
    height: auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  &__user {
    display: flex;
    align-items: center;

    &-name {
      padding-right: 30px;
    }
  }
  
  &__follow {
    padding: 10px 0;
  }

  &__inner {
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    list-style-type:  none;
    padding: 0;
    margin: 0;
  }

  &__link {
    width: 50%;
    padding: 10px 0;

    &-inner {
      text-align: center;
      text-decoration: none;
      padding: 0;
      &:hover {
        text-decoration: none;
        .profile__link-title {
          color: $main-blue;
          transition: 0.5s;
        }
      }
    }

    &-title {
      color: #657786;
      font-size: 12px;
      font-weight: bold;
      margin: 0;
      &:hover {
      }
    }

    &-number {
      font-weight: bold;
      font-size: 18px;
      margin: 0;
      color: $main-blue;
    }

    &:not(:last-child) {
      // border-right: #cccccc 1px solid;
    }
  }
}

.timeline {
  width: 600px;
}

.djeet {

  &__user {
    display: flex;
    margin-bottom: 5px;
    align-items: center;


    &icon {
      width: 40px;
      height: auto;
      margin: 0;
      margin-right: 10px;
    }
  }

  &__img {
    width: 100%;
  }

  &:hover {
    background-color: #eeeeee;
  }
}

.topbar {
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.25);
}

.text-black {
  color: #000000;
}

.btn-like {
  font-size: 12px;
  padding: 3px 0;
  width: 70px;
}

.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

