{% extends 'djitter/base.html' %}
{% load static %}

{% block main %}
<div class="row">
  <!-- Feed -->
  <div class="col-9">
    <figure>
      <img src="{% static "djeeterprofile/img/icon.png" %}">
    </figure>

    <h3>@{{ user.username }}</h3>
    <hr>

    <b><a href="{% url "profile:follows" user.username %}">Follows:</a></b> {{ user.djeeterprofile.follows.count }} -
    <b><a href="{% url "profile:following" user.username %}">Followers:</a></b> {{ user.djeeterprofile.followed_by.count }}
    {% ifnotequal request.user user %}
      <hr>

      {% if request.user.djeeterprofile in user.djeeterprofile.followed_by.all %}
      <a href="{% url "profile:stopfollow" user.username %}" class="btn btn-danger">Stop follow</a>
      {% else %}
      <a href="{% url "profile:follow" user.username %}" class="btn btn-success">Follow</a>
      {% endif %}
    {% endifnotequal %}

    <hr>
    {% if user.djeets.all %}
      {% for djeet in user.djeets.all %}
        <div class="card" style="margin-bottom: 20px;">
          <div class="card-body">
            <h5 class="card-title">@{{ djeet.user.username }}</h5>
            <p class="card-text"><b>{{ djeet.created_at }}</b> - {{ djeet.body }}</p>
          </div>  
        </div>
      {% endfor %}
    {% else %}
      <p>No djeets yet!</p>
    {% endif %}
  </div>

  <!-- Sidebar -->
  <div class="col-3">
    <h3>Add djeet</h3>
    {% if form.errors %}
      {% for field in form %}
        {% for error in form.errors %}
          <div class="alert alert-danger">
            <b>{{ error|escape }}</b>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <b>{{ error|escape }}</b>
        </div>
      {% endfor %}
    {% endif %}

    <form action="{% url "profile:profile" request.user.username %}" method="post">
    {% csrf_token %}

      {% for field in form %}
        <div class="form-group">
          {{ field }}
        </div>
      {% endfor %}

      <input type="hidden" value="{{ request.path }}" name="redirect">
      <input type="submit" value="Post djeet" class="btn btn-primary">
    </form>
  </div>
</div>
{% endblock %}
